{% extends "forms/field.html.twig" %}

{% block input %}
    <script src="https://www.google.com/recaptcha/api.js?onload=captchaOnloadCallback&render=explicit"
        async defer>
    </script>

    {% set site_key = field.recatpcha_site_key %}
    {% if site_key is empty %}
        {% set site_key = config.plugins.form.recaptcha.site_key %}
    {% endif %}
    
    <script>
        var captchaOnloadCallback = function captchaOnloadCallback() {
            grecaptcha.render('g-recaptcha', {
                'sitekey': "{{ site_key }}",
                'callback': captchaValidatedCallback,
                'expired-callback': captchaExpiredCallback
            });
        };

        var captchaValidatedCallback = function captchaValidatedCallback() {

        };

        var captchaExpiredCallback = function captchaExpiredCallback() {
            grecaptcha.reset();
        };
    </script>

    <div class="g-recaptcha" id="g-recaptcha"></div>
{% endblock %}
