# Development files stay out of the release zip (GPM installs git archive of the tag)
/tests                 export-ignore
/test                  export-ignore
/phpunit.xml           export-ignore
/phpunit.xml.dist      export-ignore
/.phpunit.cache        export-ignore
/.phpunit.result.cache export-ignore
/.github               export-ignore
/.gitignore            export-ignore
/.gitattributes        export-ignore
/package.json          export-ignore
/package-lock.json     export-ignore
