{% extends "forms/field.html.twig" %}

{% block field %}
<div class="form-columns {{ field.classes }}">
    {% include 'forms/default/fields.html.twig' with {name: field.name|parent_field, fields: field.fields} %}
</div>
{% endblock %}
