{% extends "forms/field.html.twig" %}

{% block input %}
    <div class="form-display-wrapper {{ field.size }}">
        {% if field.markdown %}
            {{ field.content|t|markdown|raw }}
        {% else %}
            {{ field.content|t|raw }}
        {% endif %}
    </div>
{% endblock %}
