<div class="form-spacer">
    {% if field.title %}
    <h3>{{ field.title|raw }}</h3>
    {% endif %}

    {% if field.text %}
    <p>{{ field.text|raw }}</p>
    {% endif %}

    {% if field.underline %}
    <hr />
    {% endif %}
</div>
