{%- if value -%}
    <span><span style="display: none;">1</span><i class="published fa fa-check-circle"></i></span>
{%- else -%}
    <span><span style="display: none;">0</span><i class="unpublished fa fa-times-circle"></i></span>
{%- endif -%}
