{% extends "forms/field.html.twig" %}

{% block field %}
{% set avatar = form.value('avatar') %}
{% if avatar %}
    <label class="{{ field.classes }}"><img class="{{ field.img_classes }}" style="max-width:200px;" src="{{ base_url_simple ~ '/' ~ (avatar|first).path }}" /></label>
{% else %}
    <label class="{{ field.classes }}"><i class="fa fa-user-circle-o fa-4x" aria-hidden="true"></i></label>
{% endif %}
{% endblock %}
