{% extends 'partials/base.html.twig' %}

{% block content %}

    {{ content }}

    {% if form.message %}
    <div class="alert notices red">{{ form.message }}</div>
    {% endif %}
    <p>{{ 'PLUGIN_FORM.DATA_SUMAMRY'|t }}</p>

    {% include "forms/data.html.twig" %}

{% endblock %}
