{% extends 'partials/base.html.twig' %}

{% block content %}

    {{ content }}

    {% if form.message %}
    <div class="alert notices {{ form.message_color ?: 'green' }}"><p>{{ form.message }}</p></div>
    {% endif %}
    <p>{{ 'PLUGIN_FORM.DATA_SUMAMRY'|t }}</p>

    {% include "forms/data.html.twig" %}

{% endblock %}
