{% set button_tag %}
  <button
      {% block embed_button_core %}{% endblock %}
      {% block embed_button_classes %}{% endblock %}
  >{%- block embed_button_content -%}{%- endblock -%}</button>
{% endset %}

{% if button_url %}
  <a href="{{ button_url }}">{{ button_tag|trim }}</a>
{% else %}
  {{ button_tag|trim }}
{% endif %}
