{% set button_tag %}
  <button
      {% block embed_button_core %}{% endblock %}
      {% block embed_button_classes %}{% endblock %}
  >
    {% block embed_button_content %}{% endblock %}
  </button>
{% endset %}

{% if button.url %}
<a href="{{ button.url starts with 'http' ? button.url : base_url ~ button.url }}">{{ button_tag }}</a>
{% else %}
{{ button_tag }}
{% endif %}
